{% extends 'base_generic.html' %}

{% block content %}
  <h3>Member: {{ member.user }}</h3>
  <h4>Infomation</h4>
  {% for line in member.info.splitlines %}
    <p>{{ line }}</p>
  {% endfor %}
  <h4>Posts list</h4>
  {% if member.post_set.all %}
    <ul>
    {% for post in member.post_set.all %}
      <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>({{ post.post_time }})</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>This member have not posted anything yet.</p>
  {% endif %}
{% endblock  %}