{% extends 'base_generic.html' %}

{% block content %}
  <h1>News Feed</h1>
  <hr>
  {% if post_list %}
    {% for post in post_list %}
      <p class="text-muted">Posted by {{ post.author }} at {{ post.post_time }}</p>
      <h3>{{ post.title }}</h3>
      <p class="text-muted">
        {{ post.postcomment_set.all.count }} comment{{ post.postcomment_set.all|pluralize }}
      </p>
      <a href="{{ post.get_absolute_url }}">See details</a>
      <hr>
    {% endfor %}
  {% else %}
    <p>Seems like people have not posted anything.</p>
    <p><a href="">Share</a> your opinion to others.</p>
  {% endif %}
{% endblock %}