{% extends 'base_generic.html' %}

{% block content %}
  <h2>{{ post.title }}</h2>
    <p>{{ post.author }} posted at {{ post.post_time }}</p>
    <hr>
    {% for line in post.content.splitlines %}
      <p>{{ line }}</p>
    {% endfor %}
  <div class="comment">
    <h3>Comments</h3>
    <hr>
    {% for comment in post.postcomment_set.all %}
      <p>{{ post.author }} ({{ comment.post_time }}) - {{ comment }}</p>
      <hr>
    {% endfor %}
    {% if user.is_authenticated %}
      <p><a href="{% url 'post-comment' post.id %}">Add a comment</a></p>
    {% else %}
      <p><a href="{% url 'login' %}">Login</a> to add a comment</p>
    {% endif %}
  </div>
{% endblock  %}