html { background-color: #000; } 

body {
    min-height: 100vh;
    position: relative;
    background-color: papayawhip; 
    margin: 0 auto;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

.sidebar-nav {
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

.header {
  padding: 5px;
  text-align: left;
  background: #060e46;
  color: white;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}

.footer {
  padding: 10px;
  text-align: left;
  background: #060e46;
  color: white;
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
  position: absolute;
  height: 50px;
  width: 100%;
}

.comment {
  margin-left: 5%;
}
